<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}Blog con Symfony 3{%  endblock %}
        </title>    
                <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}">
                <!--<link rel="stylesheet" href="{{ asset('public/css/bootstrap-select.css') }}">-->
                <script language="javascript" src="{{ asset('public/js/jquery-3.3.1.min.js')}}"></script>
                <script language="javascript" src="{{ asset('public/js/bootstrap.js')}}"></script>
                <!--<script language="javascript" src="{{ asset('public/js/bootbox.min.js')}}"></script>-->
                <!--<script language="javascript" src="{{ asset('public/js/bootstrap-select.js')}}"></script>-->

            
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path("blog_homepage")}}">Blog con Symfony 3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        {% if app.user != null %}
                            <li class="nav-item">
                                <a class ="nav-link" href="#">Bienvenido {{app.user.name}} {{app.user.surname}}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if app.user != null %}
                                <a class="dropdown-item" href="{{ path("category_index")}}">Categorias</a>
                                <a class="dropdown-item" href="{{ path("tag_index")}}">Etiquetas</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path("logout")}}">Salir</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path("login")}}">Entrar</a>
                            {% endif %}
                            <a class="dropdown-item" href="#">Ayuda</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section id="content">
            {% block content %}Default content{% endblock %}
        </section>
        <footer>
            Curso de Symfony 3
        </footer>
    </body>
</html>
